<div class= "header_text" id="tag0"><h2>Director's Message</h2></div>

<p>Despite enormous and long-term investments in the development of defensive cyber capabilities we, as a nation, continue to lose ground against determined adversaries in the conflict for control in cyberspace. These adversaries fall into many ever-growing categories, including state and state-sponsored actors, criminals, terrorists, hactivists, thrill-seekers, and corporate spies. As we have all observed, successful cyber attacks now translate into significant disruptions, not only to individuals but, even more so, to government and commercial enterprises of all sizes. The increasing frequency of these attacks is eroding the confidence American citizens have in their government and elected officials, as well as their confidence in corporate America. Not only do these attacks frequently violate personal privacy, they also contribute to the loss of invaluable intellectual property, trade secrets, and business strategies.

<br>The gravity of this problem cannot be overstated. The increasing incidence of intellectual property theft from American companies by state and state-sponsored actors, cyber criminals, and hactivists, poses a clear and present danger to the long-term economic security of the United States. It is clearly not an overstatement that cybersecurity is one of the most serious economic and national security issues facing our nation today. To effectively address the increasingly pressing threats in cyberspace will require, in the words of futurist Mark Goodman, nothing less than a "Manhattan Project (level of effort) for cybersecurity.”

<br>To effectively combat this issue, we will clearly need significant new technologies and new capabilities to address the increasing threat these adversaries pose. Moreover, new policies and new laws, along with a better understanding of the human dimensions of cybersecurity must be developed if there is to be any hope of stemming this tide. The Texas A&M Cybersecurity Center stands poised to meet this challenge by advancing our collective cybersecurity knowledge, capabilities and practices through an emphasis in ground-breaking research, innovative methods for cybersecurity education and beneficial academic, governmental and commercial partnerships. We will focus our efforts on key critical infrastructure sectors, which are also strengths within the Texas A&M System, including Energy, Transportation, Emergency Services, Public Health and Agriculture. In short, we are resolute in both our commitment and determination to meet these challenges head on.

<br>In the short term, we will address the groundswell of demand, growing daily, for a more cyber savvy workforce, and more specifically, for a corps of well-educated cybersecurity professionals. Many of our key partners in industry are asking us to move quickly to prepare graduates for careers in cybersecurity professions and, more broadly, to help contribute to the development of a workforce that fully appreciates the increasing threat posed by malicious cyber actors. Fortunately, there is a significant level of interest among many of our students and faculty who wish to learn more and contribute to this vitally important field.
</p>


<div class= "header_text" id="tag1"><h2>Vision and Mission</h2></div>
<p>
Our Vision:<br>
–  To make outsized contributions to social good by advancing the knowledge and the practice of cybersecurity, and by developing transformational cybersecurity capabilities<br>
–  Texas A&M, in collaboration with strategic partners, will move to the international forefront of cybersecurity research<br>

Our Mission:<br>
–  Research: To facilitate the conduct of ground-breaking, basic and applied cybersecurity research<br>
–  Education: To develop novel and innovative methods for cybersecurity<br>
–  Partnerships: To build mutually beneficial partnerships with commercial, governmental, and academic partners<br>
</p>

<div class= "header_text" id="tag2"><h2>Our History</h2></div>
<p>
Texas A&M University has a long history of performing substantive cybersecurity research and in bringing innovation to the classroom for cybersecurity education. In the early 1990’s, A&M researchers designed, developed and deployed a suite of security tools, including an early firewall and intrusion detection system that were widely adopted in commercial and academic settings. Also in the 1990’s, A&M faculty developed the first academic course that employed an active attack-defense laboratory. This novel approach has now been widely adopted in both academic and training environments to accelerate the rate at which students acquire the knowledge and skills necessary to successfully protect and defend systems and data.

<br>In 2001, the Texas A&M Center for Information Assurance and Security (CIAS) was established. Its overarching purpose was to facilitate “Texas A&M University’s educational and research activities on Information Assurance and Security.” The center has been involved in numerous initiatives that substantially increased the level of cybersecurity research and educational activity at A&M. These initiatives were largely responsible for A&M achieving the noteworthy distinction of being designated by the National Security Agency as a National Center of Excellence Information Assurance in both Education (2003) and Research (2008). These prestigious designations, among other things, gave A&M researcher access to a variety of cybersecurity funding opportunities for which they would have otherwise not been eligible.

<br>Over the past 15 years, A&M researchers have engaged numerous sponsored research projects that address cybersecurity topics. These projects range from digital forensics, to malware and malware infrastructure analysis, to critical infrastructure protection, to the social aspect of cybersecurity, to cybersecurity education.

<br>In 2010, Texas A&M hosted and won the National Collegiate Cyber Defense Competition (CCDC) Southwest Regional event. Interestingly, the concept for the CCDC was based, in part, on the attack-defense laboratory first pioneered at A&M 15 years earlier. Earlier this year, A&M formed a formal Cybersecurity Club to compete in the CCDC and other cyber competitions. This team has already seen positive results. The team is competing in the 4-month long Codebreaker Challenge, sponsored by the NSA. Out of 196 participating schools in this challenge, the A&M Team is currently in third place overall, and first place in the number of challenge solutions.

<br>In 2013, Texas A&M became a founding member of the National Cybersecurity Preparedness Consortium, this group helps states and communities prepare for, detect and respond to cyber attacks in a consistent manner. Through this initiative, the Texas A&M Engineering Extension Service (TEEX) now offers a wide range of online and face-to-face cybersecurity training opportunities.
</p>

<div class= "header_text" id="tag3"><h2>Our Staff</h2></div>
<p>
    
Faculty

Texas A&M faculty are involved in research that addresses a broad array of important cybersecurity topics. Moreover, the sheer number of publications produced by these scholars, as well as the thousands of citations to their scholarly works combined, indicate that A&M researchers are making significant contributions to the advancement of cybersecurity knowledge. Because the A&M faculty is so large and diverse, their research is not restricted to a small number of specific areas or approaches that may lose their relevance over time. The cybersecurity research topics addressed by A&M faculty span the full range of scholarly inquiry, from foundational basic research to problem-oriented applied research.    
</p>
<%= form_tag faculties_path, :method => 'get' do %>
  <p>
    <%= submit_tag "Find Faculty Experts", :name => nil %>
  </p>
<% end %>


