
<body>
    <div class="Directors_message">
        <div class="director_message_title">
            <h2>Director's message</h2>
        </div>
        <p>Despite enormous and long-term investments in the development of defensive cyber capabiliti
        es we, as a nation, continue to lose ground against determined adversaries in the conflict for 
        control in cyberspace. These adversaries fall into many ever-growing categories, 
        including state and state-sponsored actors, criminals,terrorists, hactivists, thrill-seekers, 
        and corporate spies. As we have all observed, successful cyber attacks now translate into 
        significant disruptions, not only to individuals but, even more so, to government and commercial enterprises of all sizes.</p>
    </div>
</body>




