
<body>
    <div class="details_positions">
        <div class="Directors_message">
            <div class="director_message_title">
                <h2>Director's message</h2>
            </div>
            <p>Despite enormous and long-term investments in the development of defensive cyber capabiliti
            es we, as a nation, continue to lose ground against determined adversaries in the conflict for 
            control in cyberspace. These adversaries fall into many ever-growing categories, 
            including state and state-sponsored actors, criminals,terrorists, hactivists, thrill-seekers, 
            and corporate spies. As we have all observed, successful cyber attacks now translate into 
            significant disruptions, not only to individuals but, even more so, to government and commercial enterprises of all sizes.</p>
            <%= form_tag aboutus_path, :method => 'get' do %>
                 <p>
                    <%= submit_tag "Learn More About Us", :name => nil %>
                 </p>
            <% end %>

            <img src='http://cybersecurity.tamu.edu/images/ragsdale11.jpg' style="float:left;width:300px;height:327px;padding:20px">
            <h2>Daniel J. Ragsdale, Ph.D.</h2>
            <h4>Director, Texas A&M Cybersecurity Center</h4>
            <h4>Professor of Practice, Computer Science & Engineering</h4>
            <h4>Office 979.845.7398 | Email rags@tamu.edu | Address 3112 TAMU, College Station, TX 77843-3112</h4>
    
             <br>  <br>  <br>  <br>  <br> <br>  <br>  <br>  <br> 
    
    

        </div>
    </div>
    
</body>




