<div class="details_positions">
<h1>PARTNERSHIPS</h1>
 
The Cybersecurity Center will only achieve its vision by working with like-minded partners on problems of mutual interest and concern. Potential partners will come from a wide variety of entities, including other academic institutions, federal and local agencies and commercial partners. Our partnerships will focus on the broad application of the Center’s research, education and innovation for the public benefit.
If you are interested in becoming a partner please contact the Texas A&M Cybersecurity Center at (979) 845-7398.

<h2>Research Collaboration Organizations</h2>

Mississippi State University <br>
University of Tennessee<br>
University of Virginia<br>
University of Pennsylvania<br>
Arizona State University<br>
Oak Ridge National Laboratories<br>
Sandia   National Laboratories*<br>
South West Research Institute*<br>
Texas A&M San Antonio*<br>
University of Houston*<br>
Raytheon BBN Technologies*<br>
 
*Collaborative projects under consideration
<h2>Commercial Sponsors</h2>

General Motors<br>
PwC<br>
Intel Corporation<br>
 
<h2>Research Sponsoring Agencies and Foundations</h2>

National Science Foundation (NSF)<br>
National Security Agency (NSA)<br>
Defense Advanced Research Projects Agency (DARPA)<br>
The Lynde and Harry Bradley Foundation<br>
Department of Defense<br>
Department of Homeland Security (DHS)*<br>
Dept of Energy (DOE)*<br>
 
* Proposals under development
 
<h2>Texas A&M University Resources</h2>

TAMU IT Security<br>
TAMU Identity Protection Campaign<br>
TAMU Information Security Awareness Training
</div>