
<div class="details_positions">
    <p id="notice"><%= notice %></p>

<h1>Faculty Experts</h1>

    <% @faculties.each do |faculty| %>
        <div class="element_spacing">
            <b><%= link_to "#{faculty.name}", faculty %></b> |
            <b>Department:</b>
            <%= faculty.dept %> | 
            <b> Email</b>
            <%= faculty.email %>
        </div>
    <% end %>


<br>

</div>


