<footer class="footer">

<div>
<table style="width:100%">
  <tr>
    <td><h4 class="Footer-Head">Mailing Address</h4>
    <p class="Footer-Text">Texas A&amp;M Cybersecurity Center</p>		
    <p class="Footer-Text">301 H.R. Bright Building</p>
    <p class="Footer-Text">3112 TAMU</p>
    <p class="Footer-Text">College Station, TX 77843-3112</p></td>
   <td><h4 class="Footer-Head">Physical Address</h4>
    <p class="Footer-Text">Texas A&amp;M Cybersecurity Center</p>
    <p class="Footer-Text">206 H.R. Bright Building</p>
    <p class="Footer-Text">Texas A&amp;M University</p>
    <p class="Footer-Text">College Station, Texas 77843</p></td>
    <td><h4 class="Footer-Head">Phone/Email</h4>
    <p class="Footer-Text">(979) 845-7398</p>
    <p class="Footer-Text Footer-Link"><a class="nonblock" href="mailto:lynns@tamu.edu">A&amp;M Cybersecurity Email</a></p><p></p><p></p></td>
  </tr>
</table>
</div>

</footer>